@media screen and (max-width: 1200px) {
    #main-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex !important;
    }
}

@media screen and (max-width: 766px) {
    .about-group .row {
        width: 100vh !important;
    }
}


