@media screen and (max-width: 1200px) {
    #main-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex !important;
    }
}

@media screen and (max-width: 766px) {
    .about-group .row {
        width: 100vh !important;
    }
}

@media screen and (max-width: 766px) {
    #sec-nav {
        .nav-links {
            gap: 5% !important;
        }


        a {
            font-size: 60%;
        }

        ul {
            margin-left: -20% !important;
        }
    }

    footer span {
        font-size: 85%;
    }
}

@media screen and (max-width: 360px) {
    #contact .contact-content {
        font-size: 16px !important;
    }
}

